<p class="text-center m-3">Our blog has <%= Article.public_count %> articles and counting!  <%= link_to "New Article", new_article_path %></p>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <div style="width: 50%; background-color: rgba(255,255,255,0.2)" class="m-auto p-5 mb-5 rounded">
        <h1 class="mb-3"><%= link_to article.title, article %></h1>
        <% if article.image.attached? %>
        <%= image_tag(article.image, style: 'width:100%; height:auto; margin: auto; display: block',  class: 'mb-3')%>
        <% end %>
        <p class="h4"><%= article.body %>></p>
      </div>
    <% end %>
  <% end %>
<!--<ul>-->
<!--  <li>-->
    <%#= link_to article.title, article %>
<!--  </li>-->
<!--</ul>-->
<div class="text-center mb-5">
  <div class="pagination_links">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>

<!--<div class="text-center"><%#= will_paginate @articles %></div>-->
