<div style="width: 50%; background-color: rgba(255,255,255,0.2)" class="m-auto p-5 my-3 rounded">
  <h1 class="mb-3"><%= @article.title%></h1>
  <% if @article.image.attached? %>
    <%= image_tag(@article.image, style: 'width:100%; height:auto; margin: auto; display: block',  class: 'mb-3')%>
  <% end %>
  <p class="h4"><%= @article.body %>></p>
  <h3 class="mt-3">
    <strong>Author:</strong>
    <%= @article.author.username %>
  </h3>
  <p><% if policy(@article).update? %>
    <%= link_to "Edit", edit_article_path(@article) %> |
  <% end %>
  <% if policy(@article).destroy? %>
    <%= link_to "Destroy", article_path(@article),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
  <% end %>
  </p>
</div>
<div style="width: 50%; background-color: rgba(255,255,255,0.2)" class="m-auto p-5 my-3 rounded">
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>