<!DOCTYPE html>
<html>
  <head>
    <title>OrangeBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style=" background-color: #0b0b0b; color: white">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2a2a2a;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <%= image_tag '/images/logo.png', style: 'height:40px;width:auto;'%>
        <strong>OrangeBlog</strong>
      </a>
<!--      <form class="d-flex">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-warning" type="submit">Search</button>-->
<!--      </form>-->
      <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
        <ul class="navbar-nav pe-2">
          <%if user_signed_in? %>
            <li class="nav-item"><a class="nav-link disabled text-white" href="#"><%= current_user.email %></a></li>
            <li class="nav-item"><%= link_to 'Log out', destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure ?'}, class: 'nav-link' %></li>
          <% else %>
            <%= link_to 'Log in', new_user_session_path, class: 'nav-link'  %>
          <% end %>
        </ul>
      </div>

      <%= form_tag(articles_path, method: :get, class: 'd-flex') do %>
        <%= text_field_tag(:search, params[:search], class: 'form-control me-2', placeholder: 'Search') %>
        <%= submit_tag("Search", class: 'btn btn-outline-warning') %>
      <% end %>
    </div>
  </nav>
    <%#if user_signed_in? %>
      <%#= current_user.email %>
      <%#= link_to 'Log out', destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure ?'} %>
    <%# else %>
      <%#= link_to 'Log in', new_user_session_path %>
    <%# end %>
  <p class="notice m-0 p-0 text-center"><%= notice %></p>
  <p class="alert m-0 p-0  text-center"><%= alert %></p>

  <%= yield %>
  </body>
</html>
